body {
    background-color: #000000;
}

h1, h2, h3, p, a, td, th {
    font-family: Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}

a {
    color: #FFFF00;
}

h3 {
    margin: 0px;
}

h2 {
    margin-bottom: 0px;
}

p, a, td, th {
    font-size: 11pt;
}

th {
    text-align: left;
}

.style {
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
}

.container {
    width: 1000px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 250px);
}

@media (max-width: 1300px) and (min-width: 1050px) {
  .container {
    width: 1000px;
    grid-template-columns: repeat(4, 250px);
  }
}

@media (max-width: 1050px) and (min-width: 800px) {
  .container {
    width: 750px;
    grid-template-columns: repeat(3, 250px);
  }
}

@media (max-width: 800px) and (min-width: 550px) {
  .container {
    width: 500px;
    grid-template-columns: repeat(2, 250px);
  }
}

@media (max-width: 550px) {
  .container {
    width: 100%;
    grid-template-columns: 250px;
  }
}

.song {
    background-color: #111111;
    margin: 5px;
    padding: 5px;
    border: 1px solid #555555;
    border-radius: 5px;
}
